cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
coverage==7.6.1
flake8==7.1.1
google-api-core==2.20.0
google-api-python-client==2.146.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
joblib==1.4.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
nltk==3.9.1
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pluggy==1.5.0
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.4
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
regex==2024.9.11
requests==2.32.3
rich==13.9.2
rich-argparse==1.5.2
rsa==4.9
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
